
.blockOverride
{
   width: 100% !important;
}

.itemDetailsValue
{
   height: 30px; 
   width: 50%; 
   margin-left: 20px
}

.itemDetailsTitle
{
   height: 30px; 
   width: 30%; 
   margin-left: 20px
}

.itemDetailsValueCheckBox
{
   height: 30px; 
   width: 30%; 
}

.cardHeaderOverride
{
  border-bottom: none !important;
  background-color:#e9ebee !important
}

.cardOverride
{
  border: none !important;
}

.cardList
{
  padding: 0.5rem !important;
}

.header
{
  text-align: center !important;
}

.page
{
  background-color: #e9ebee !important
}

.btn-info {
    color: #e28822 !important;
    background-color: #343a40 !important;
}

.navibarText
{
    color: #e28822 !important;
}

.navibarLogo
{
    font-family: Arial, Helvetica, sans-serif;
    color: #e28822 !important;
}
.itemDetailsValueMultiSelect
{
   height: 90px; 
   width: 30%; 
   margin-left: 20px
}


.itemDetailsValueMultiSelectElement
{
    height: 100% !important;
}

.itemDetailsRadioButton
{
   width: 30%; 
   margin-left: 20px
}