.loginFailedMessage
{
    margin-top: 1%;
    font-size: 14px;
    height: 30px;
    margin-bottom: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.blockOverride
{
    height: 90%;
    padding-bottom: 5px;
    padding-top: 5px;
}

.itemDetailsValue
{
   font-weight: 500;
   font-size: 13px;
   width: 45%; 
   margin-bottom: 4px;
   font-weight: 400;
   margin-top: 1px;
   border: none;
}

.itemDetailsValue.numeric.form-control{
   height: 25px;
   font-weight: 500;
   background-color: #e9ebee;
   color: #17a2b8;
   margin-left: 14px;
}

.itemDetailsValue.disabledItem
{
   background-color: #e9ebee;
}

.picture
{
   height: 100px;
   width: 100px;
}

.itemDetailsTitleText{
   height: 95%;
   font-size: 13px;
   font-weight: 500;
   padding-top: 1px !important;
   padding-bottom: 1px !important;
}

.itemDetailsTitle
{
   font-size: 14px;
   height: 95%;
   color: #4a76a8 !important;
   width: 55%; 
   margin-left: 5px;  
}

.itemDetailsTitle.OneLineTitle
{
   white-space: nowrap;
   text-overflow: ellipsis;
    overflow: hidden; 
}

label.itemDetailsTitle
{
   margin-bottom: 5px;
}

.itemDetailsValueCheckBox
{
   margin-left: 18px;
    margin-top: 6px;
    margin-bottom: 0px;
}
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.75); /* IE */
  -moz-transform: scale(1.75); /* FF */
  -webkit-transform: scale(1.75); /* Safari and Chrome */
  -o-transform: scale(1.75); /* Opera */
  padding: 5px;
}

.cardHeaderOverride
{
  border-bottom: none !important;
  background-color:#e9ebee !important;
  font-size: 10 !important;
}

.cardOverride
{
  border: none !important;
  font-size: 10 !important;
}

.header
{
  text-align: center !important;
}

.page
{
   overflow-x: hidden;
  background-color: #e9ebee !important
}

.btn-info {
    color: #4a76a8 !important;
    background-color: white !important;
}

.navibarText
{
    color: white !important;
}

.navibarLogo
{
    font-family: Arial, Helvetica, sans-serif;
    color:  white !important;
}
.itemDetailsValueMultiSelect
{
   height: 90px; 
   width: 30%; 
   margin-left: 20px
}

.itemDetailsRadioButton
{
   width: 30%; 
   margin-left: 20px
}

.elementDiv
{

   margin-top: none;

}

.itemDetailsTitleText .form-control
{
   color: black;
   border: none; 
   margin-bottom: 3px;
   height: 95% !important;
   background-color: #e9ebee;
   margin-left: 2px;
}
.collapsing {
   -webkit-transition: height .0s ease;
        -o-transition: height .0s ease;
           transition: height .0s ease;
 }

.card-body.divCard
{
   padding: 1px !important;
   margin-right: 4px;
}

.d-flex.justify-content-center.elementRaw
{
   border-bottom: 0.1px solid lightsteelblue !important;
   margin-left: 5px;
   margin-right: 5px;
   align-items: center;
}

.btn.blockOverride.btn-info.btn-block
{
   font-size: 15px !important; 
   font-weight: 600;  
   text-align: left;
   padding-left: 20%;
   border-radius: 0px 0px 0px 0px;
   
}
.itemDetailsValue.textFormula.form-control
{
   height: auto;
   font-weight: 500;
   font-size: 13px;
   margin-bottom: 4px;
   margin-top: 1px;
   margin-left: 2px;
   padding-top: 2px;
}

.itemDetailsValue.textFormula.formula.form-control
{
   margin-left: 14px;
}

.itemDetailsValue.textFormulaOneLineText.form-control
{
   height: 25px;
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
   padding-top: 2px;
}

.navbar.navbar-expand-lg
{
   background-color: #4a76a8 !important;
}

.dropdown-item{
   color: #4a76a8 !important;
}

.wrap{display:flex;}
.box{
height: 100vh;
    width: 50% !important;
    overflow: scroll;
}

.cardList{
   margin-top: 60px !important;
}


.btn:focus, .btn:active:focus, .btn.active:focus {
   box-shadow: none !important;
}

body {
   background-color: #e9ebee !important;
}

.itemOptionsTitle {
   height: 30px;
   width: 30%;
   padding: 10%;
}
.menuButton {
   color: white;
   background-color: white;
}
.menuDropDown{
   background-color: #4a76a8 !important;
}

.menuList{
   box-sizing: content-box !important;
}
.form-group{
   margin-bottom: 2px;
}
.card-header.d-flex.justify-content-center.p-1.cardHeaderOverride.headerElementRaw{
   padding-top: 0.1% !important;
   padding-bottom: 0.1% !important;
   padding-left: 0.1% !important;
   padding-right: 0.1% !important;
}

.menuMobile
{
   display: none;   
}
.menuDefault
{
   display: block;   
}
.showForMobile
{
   display: none;
}

@media only screen and (max-width: 768px) {
   /* For mobile phones: */
   [class*="col-"] {
     width: 100%;
   }
   .btn.blockOverride.btn-info.btn-block
{
   font-size: 15px !important; 
   font-weight: 600;  
   text-align: left;
   padding-left: 2%;
}
.menuButton{
   margin-top: 2%;
   width: 80% !important;
   height: 50% !important;
}
.col-sm-10.mainSection{
   padding-right: 4%;
   padding-left: 4%;
}

.menuDefault
{
   display: none;   
}
.menuMobile
{
    display: block;
}
.itemDetailsValueCheckBox
{
    background-color: #e9ebee;
    margin-left: 18px;
    margin-top: 6px;
    margin-bottom: 0px;
}

.itemDetailsValue.itemDetailsValueCheckBoxDiv
{
   margin-top: 3px;
}

.hideForMobile
{
   display: none;
}

.showForMobile
{
   display: block;
}

}


