.blockOverride
{
   width: 100% !important;
}

.itemDetailsValue
{
   height:30 px; 
   width: 40%; 
   margin-left: 5px;
   padding-bottom: 1px !important;
}

.itemDetailsTitleText{
   font-size: 13px;
   padding: none !important;
}
.itemDetailsTitle
{
   width: 60%; 
   margin-left: 10px;
   margin-bottom: 1px !important;
   margin-top: -2px;
   font-size: 14px;
}

.itemDetailsValueCheckBox
{
   height: 90%;
   width: 20px;
}

.cardHeaderOverride
{
  border-bottom: none !important;
  background-color:#e9ebee !important;
  font-size: 10 !important;
}

.cardOverride
{
  border: none !important;
  font-size: 10 !important;
}



.header
{
  text-align: center !important;
}

.page
{
  background-color: #e9ebee !important
}

.btn-info {
    color: #e28822 !important;
    background-color: #343a40 !important;
}

.navibarText
{
    color: #e28822 !important;
}

.navibarLogo
{
    font-family: Arial, Helvetica, sans-serif;
    color: #e28822 !important;
}
.itemDetailsValueMultiSelect
{
   height: 90px; 
   width: 30%; 
   margin-left: 20px
}

.itemDetailsRadioButton
{
   width: 30%; 
   margin-left: 20px
}

.elementDiv
{

   margin-top: none;

}

.itemDetailsTitleText .form-control
{
   padding: 0.5px;
}

.card-body.divCard
{
   padding: 1px !important;
   margin-bottom: 1px !important;
   margin-right: 4px;
}



.d-flex.justify-content-center.elementRaw
{
   margin-bottom: -15px !important;
}

.card-header.d-flex.justify-content-center.p-1.cardHeaderOverride.headerElementRaw
{
   margin-bottom: -0px;
   margin-top: -1px !important;
   padding: 2px !important;
}

.btn.blockOverride.btn-info.btn-block
{
   height: 30px;
   font-size: 15px !important;   
   text-align: left;
}
.itemDetailsValue.textFormula.form-control
{
   margin-top: 0px !important;
   margin-bottom: 0px !important;
}

